<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Integración</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <table>
        <tr>
            <td>
               <h1>Sacar Area de Integral</h1> 
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        <h3>Regla de Simpson</h3><br>
                        http://IP:2511/simpson/[a]/[b]/[exp]/[n]/[h]
                    </li>
                    <li>
                        <h3>Regla de Trapecio</h3><br>
                        http://IP:2511/trapecio/[a]/[b]/[exp]/[n]/[h]
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>